.input-wrapper {
  position: relative;
}

input {
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  width: 200px;
  margin: 10px;
  line-height: 6ex;
}

label {
  position: absolute;
  top: -1.2ex;
  z-index: 1;
  left: 2em;
  background-color: white;
  padding: 0 5px;
}