.sidebar {
  width: 250px;
  transition: width 0.3s;
  background-color: black;
  &.collapsed {
    width: 80px;

    .logo {
      display: none;
    }

    .title {
      display: none;
    }

    li span {
      display: none;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collapse-btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 14px;
      color: inherit;
    }
  }

  .icon {
    margin-right: 10px;
  }

  .center {
    ul {
      list-style: none;
      padding: 0;
      
      .title {
        font-size: 12px;
        color: #aaa;
        margin: 15px 0;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s;
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        .icon {
          font-size: 20px;
        }

        span {
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid gray;
    }
  }
}
.sidebar {
  background-color: #111;
  border-color: #333;

  .top {
    .logo {
      color: #999;
    }
  }
  hr {
    border-color: #333;
  }

  ul {
    li {
      &:hover {
        background-color: #333;
      }

      .icon {
        color: #999;
      }
    }
    span{
      color: aliceblue;
    }
  }
}

.datatable {
  .datagrid {
    color: gray;
    border: none;

    .viewButton,
    .deleteButton,
    .cellWithStatus {
      color: gray;
      border: none;
    }
  }
}